/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
/* header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
} */
header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
  }



#header__edit {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	margin-top: 0;
	background-color: black;
	color: white;
  }

  .edit {
	display: flex;
	flex-direction: row;
	gap: 12px;
  }
  
  #header__top {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding: 0 150px;
	width: 1140px;
  }

  main {
	width: 950px;
	margin: auto;
	padding: 0 245px;
  }



section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#instagram img {
	height: 22px;
	cursor: pointer;
  }




#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	/* margin-bottom: 1em; */
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, #login {
	width: 50%;
margin: auto;
}
#contact > *, #login > *  {
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form , #login form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input , #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* FILTER */
.error {
	grid-column: 2;
	margin: 30px 0;
	text-align: center;
	font-size: 1rem;
  }
  
  .filters {
	display: flex;
	justify-content: center;
	margin: 40px 0;
  }
  
  .filter__btn, .btn-admin {
	font-family: "Syne";
	padding: 10px 20px;
	margin: 0 15px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	color: #1D6154;
	background-color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s ease;
  }
  
  .filter__btn--active, .btn-admin {
	color: white;
	background-color: #1D6154;
  }



  #forgot-password {
	text-align: center;
	margin-top: 28px;
	margin-bottom: 355px;
	text-decoration: underline;
  }
  
  .hidden {
	display: none !important;
  }



  /*********** Modal ***********/

#title__project {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 31px;
	padding: 39px 0 92px;
  }
  
  #edit__works {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	cursor: pointer;
  }
  
  #edit__works span {
	color: black;
	font-size: 14px;
	font-family: "Work Sans";
	font-weight: 400;
  }
  
  #edit__works i {
	font-size: 15px;
  }
  
  .modal {
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1000;
  }
  
  .modal-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: auto;
	width: 590px;
	max-width: calc(100% - 40px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
  }
  
  .modal-wrapper h3 {
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 36px;
  }
  
  .js-modal-close {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 1.5rem;
	color: #333;
	cursor: pointer;
  }
  
  .js-modal-back {
	position: absolute;
	top: 10px;
	left: 10px;
	background: none;
	border: none;
	font-size: 1.5rem;
	color: #333;
	cursor: pointer;
  }
  
  .modal__content {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 6px;
	grid-row-gap: 25px;
	width: 419px;
	margin-bottom: 30px;
  }
  
  .modal__content img {
	height: 104px;
  }
  
  .image-container {
	position: relative;
	display: inline-block;

  }
  
  .image-container img {
	display: block;
	width: 100%;
	height: 8em;
	object-fit: cover;
  }
  
  .icon-background {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 17px;
	height: 17px;
	background-color: black;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
  }
  
  .icon-overlay {
	font-size: 10px;
	color: white;
  }
  
  .border__line {
	border: 1px solid #b3b3b3;
	width: 420px;
	margin: 38px 0;
  }
  
  #addPhotoButton {
	font-family: "Syne";
	font-size: 14px;
	font-weight: 700;
	background-color: #1d6154;
	color: white;
	border-radius: 60px;
	width: 237px;
	height: 36px;
	margin-bottom: 25px;
	cursor: pointer;
  }
  
  #addWorkButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: "Syne";
	font-size: 14px;
	font-weight: 700;
	background-color: #a7a7a7;
	color: white;
	border-radius: 60px;
	width: 237px;
	height: 36px;
	margin-bottom: 25px;
	cursor: pointer;
	border: none;
	transition: background-color 0.3s, color 0.3s;
  }
  
  #addWorkButton:hover {
	background-color: white !important;
	color: #1d6154 !important;
	border: 1px solid #1d6154 !important;
  }
  
  .fa-xmark {
	font-size: 24px;
	margin: 16px 20px 0 0;
  }
  
  .fa-arrow-left {
	font-size: 24px;
	margin: 16px 0px 0 20px;
  }
  
  /* Formulaire pour l'ajout d'un projet */
  
  #formAddWork {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  
  #formAddWork input[type="text"],
  #formAddWork select {
	padding: 18px;
  }
  
  .containerAddPhoto {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;
	background-color: #e8f1f6;
	padding: 19px;
	border-radius: 3px;
	margin-bottom: 9px;
  }
  
  #previewImage {
	max-height: 160px;
  }
  
  .labelFile {
	color: #306685;
	background-color: #cbd6dc;
	padding: 10px 33px;
	border-radius: 50px;
  }
  
  label {
	font-size: 14px;
	font-weight: 500;
	padding-top: 11px;
  }
  
  #categoryInput,
  #title {
	border: none;
	background: #fff;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  }
  
  .fa-image {
	font-size: 76px;
	color: #cbd6dc;
	margin: 0;
  }
  
  .buttonValidForm {
	background-color: #1d6154;
	color: white;
  }
  

  
  /*********** Fin Modal ***********/
  